PORT=5000
NODE_ENV=development

MONGO_URI=mongodb+srv://<USER>:<PASSWORD>@<CLUSTER_URL>/<DB_NAME>?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=30d

GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

OTP_API_KEY=your_otp_api_key_here

FIREBASE_PROJECT_ID=your_firebase_project_id_here
FIREBASE_API_KEY=your_firebase_private_key_here
FCM_SERVER_KEY=your_fcm_server_key_here

RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

ADMIN_SECRET_KEY=your_admin_secret_key
SESSION_SECRET=your_session_secret

CORS_ORIGIN=http://localhost:3000
